<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Servlet-mathmeticalOperation-ApplicationContext</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  <context-param>
		<param-name>num1</param-name>
		<param-value>20</param-value>
	</context-param>
	<context-param>
		<param-name>num2</param-name>
		<param-value>30</param-value>
	</context-param>
	<servlet>
		<servlet-name>addNumbers</servlet-name>
		<servlet-class>MathmaticalOperations.CalculateAdd_ServletContext</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>subtractNumbers</servlet-name>
		<servlet-class>MathmaticalOperations.CalculateSubtract_ServletContext</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>multiplyNumbers</servlet-name>
		<servlet-class>MathmaticalOperations.CalculateMultiplication_ServletContext</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>powerNumbers</servlet-name>
		<servlet-class>MathmaticalOperations.CalculatePower_ServletContext</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addNumbers</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>subtractNumbers</servlet-name>
		<url-pattern>/subtract</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>multiplyNumbers</servlet-name>
		<url-pattern>/multiply</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>powerNumbers</servlet-name>
		<url-pattern>/power</url-pattern>
	</servlet-mapping>
	
</web-app>